<<<<<<< HEAD


#main {
background-color: black;
}
=======
>>>>>>> Colourful

#bigp{
background: url("1280px-Grosser_Panda.JPG");
display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
max-width:400px;
    height:auto;
}


#bigp:hover{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
max-width:400px;
    height:auto;
content: url("Openmouth.jpg");
display: inline;

}

#main {
background-color: black;
}

body {
    font-size: 14px;
    font-family: papyrus, arial;
    background-color: yellow;
    text-align: center;
    margin-color: yellow;
    margin: auto;
    width: 50%;
border-style: solid;
border-color: pink;
border-width: 0px 30px 0px;
}

h1 {
color: black;
font-family: comic sans;
font-size: 50px;
text-shadow: 3px 2px 15px black;
background-color: #cc33ff;
}

h2 {
text-shadow: 3px 2px 15px white;
color: white;
}

p{
color: white;
background-color: green;
border-style: outset;
border-color: white;
border-width: 20px;
}


img {
    max-width:400px;
    height:auto;
}

table {
    
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    color: black;
border-collapse: collapse;
    	
}

th, td {
border: 1px solid black;
text-align: center;
padding: 5px
}