

#main {
background-color: black;
}

body {
    font-size: 14px;
    font-family: papyrus, arial;
    background-color: yellow;
    text-align: center;
    margin-color: yellow;
    margin: auto;
    width: 50%;
border-style: solid;
border-color: pink;
border-width: 0px 30px 0px;
}

h1 {
color: #005500;
font-family: comic sans;
font-size: 50px;
text-shadow: 3px 2px 15px #00ff00;

}

h2 {
text-shadow: 3px 2px 15px #00ff00;
color: #005500;
}

p{
color: white;
border-style: outset;
border-color: white;
border-width: 20px;
}


img {
    max-width:400px;
    height:auto;
}

table {
    
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    color: black;
border-collapse: collapse;
    	
}

th, td {
border: 1px solid black;
text-align: center;
padding: 5px
}